In [4]:
import sys
sys.path.append('./venv/lib/python3.10/')

import os
os.environ['OPENAI_API_KEY'] = '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'
OPENAI_API_KEY = os.environ['OPENAI_API_KEY']
CSV_FILE = './dataset/sales_data_sample.csv'

In [5]:

import pandas as pd
from pandasai import SmartDataframe
from pandasai.llm.openai import OpenAI
from dotenv import load_dotenv
from langchain import OpenAI 
from langchain.document_loaders.csv_loader import CSVLoader

In [6]:
df = pd.read_csv(CSV_FILE)

In [7]:
df.head()

,Unnamed: 0,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10,10223,37,100.00,1,3965.66,2/20/2004 0:00,Shipped,1,2,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
1,21,10361,20,72.55,13,1451.00,12/17/2004 0:00,Shipped,4,12,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Small
2,40,10270,21,100.00,9,4905.39,7/19/2004 0:00,Shipped,3,7,...,"Monitor Money Building, 815 Pacific Hwy",Level 6,Chatswood,NSW,2067,Australia,APAC,Huxley,Adrian,Medium
3,47,10347,30,100.00,1,3944.70,11/29/2004 0:00,Shipped,4,11,...,636 St Kilda Road,Level 3,Melbourne,Victoria,3004,Australia,APAC,Ferguson,Peter,Medium
4,51,10391,24,100.00,4,2416.56,3/9/2005 0:00,Shipped,1,3,...,201 Miller Street,Level 15,North Sydney,NSW,2060,Australia,APAC,O'Hara,Anna,Small

In [8]:
from langchain.agents.agent_types import AgentType
from langchain.chat_models import ChatOpenAI
from langchain.llms import OpenAI
from langchain_experimental.agents.agent_toolkits import create_csv_agent

In [9]:
agent = create_csv_agent(
    OpenAI(temperature=0),
    CSV_FILE,
    verbose=True,
    agent_type=AgentType.ZERO_SHOT_REACT_DESCRIPTION,
)

In [13]:
output = agent.run("how many rows are there?")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows
Action: python_repl_ast
Action Input: df.shape[0]
Observation: 147
Thought: I now know the final answer
Final Answer: There are 147 rows.

> Finished chain.
There are 147 rows.

In [14]:
output = agent.run("how many columns are there and give me description and brief for eachone from your view")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find out the number of columns and get a description of each one
Action: python_repl_ast
Action Input: print(df.columns)
Observation: Index(['Unnamed: 0', 'ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH',
       'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID',
       'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME',
       'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')

Thought: I need to get a description of each column
Action: python_repl_ast
Action Input: df.info()
Observation: <class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        147 non-null    int64
 1   ORDERNUMBER       147 non-null    int64
 2   QUANTITYORDERED   147 non-null    int64
 3   PRICEEACH         147 non-null    float64
 4   ORDERLINENUMBER   147 non-null    int64
 5   SALES             147 non-null    float64
 6   ORDERDATE         147 non-null    object
 7   STATUS            147 non-null    object
 8   QTR_ID            147 non-null    int64
 9   MONTH_ID          147 non-null    int64
 10  YEAR_ID           147 non-null    int64
 11  PRODUCTLINE       147 non-null    object
 12  MSRP              147 non-null    int64
 13  PRODUCTCODE       147 non-null    object
 14  CUSTOMERNAME      147 non-null    object
 15  PHONE             147 non-null    object
 16  ADDRESSLINE1      147 non-null    object
 17  ADDRESSLINE2      147 non-null    object
 18  CITY              147 non-null    object
 19  STATE             147 non-null    object
 20  POSTALCODE        147 non-null    int64
 21  COUNTRY           147 non-null    object
 22  TERRITORY         147 non-null    object
 23  CONTACTLASTNAME   147 non-null    object
 24  CONTACTFIRSTNAME  147 non-null    object
 25  DEALSIZE          147 non-null    object
dtypes: float64(2), int64(9), object(15)
memory usage: 30.0+ KB

Thought: I now know the final answer
Final Answer: There are 26 columns in the dataframe. The columns are Unnamed: 0, ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, and DEALSIZE. The data types for each column are float64, int64, and object.

> Finished chain.
There are 26 columns in the dataframe. The columns are Unnamed: 0, ORDERNUMBER, QUANTITYORDERED, PRICEEACH, ORDERLINENUMBER, SALES, ORDERDATE, STATUS, QTR_ID, MONTH_ID, YEAR_ID, PRODUCTLINE, MSRP, PRODUCTCODE, CUSTOMERNAME, PHONE, ADDRESSLINE1, ADDRESSLINE2, CITY, STATE, POSTALCODE, COUNTRY, TERRITORY, CONTACTLASTNAME, CONTACTFIRSTNAME, and DEALSIZE. The data types for each column are float64, int64, and object.

In [15]:
output = agent.run("how many country this company serve and the name of the countries")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find out the unique countries in the dataframe
Action: python_repl_ast
Action Input: df['COUNTRY'].unique()
Observation: ['Australia']
Thought: I now know the final answer
Final Answer: The company serves one country, Australia.

> Finished chain.
The company serves one country, Australia.

In [16]:
output = agent.run("is there any state the company serve inside the serving country and give me there names ")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find out which states the company serves
Action: python_repl_ast
Action Input: df['STATE'].unique()
Observation: ['Victoria' 'NSW']
Thought: I now know the final answer
Final Answer: The company serves the states of Victoria and NSW in Australia.

> Finished chain.
The company serves the states of Victoria and NSW in Australia.

In [17]:
output = agent.run("is there any city the company serve inside the serving cities and give me there names ")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find out which cities the company serves
Action: python_repl_ast
Action Input: df['CITY'].unique()
Observation: ['Melbourne' 'Chatswood' 'North Sydney']
Thought: I now know the final answer
Final Answer: The company serves Melbourne, Chatswood, and North Sydney.

> Finished chain.
The company serves Melbourne, Chatswood, and North Sydney.

In [19]:
output = agent.run("what type of the dataset is this dataset , i mean by type what domain in business sector")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to look at the columns to determine the type of dataset
Action: python_repl_ast
Action Input: df.columns
Observation: Index(['Unnamed: 0', 'ORDERNUMBER', 'QUANTITYORDERED', 'PRICEEACH',
       'ORDERLINENUMBER', 'SALES', 'ORDERDATE', 'STATUS', 'QTR_ID', 'MONTH_ID',
       'YEAR_ID', 'PRODUCTLINE', 'MSRP', 'PRODUCTCODE', 'CUSTOMERNAME',
       'PHONE', 'ADDRESSLINE1', 'ADDRESSLINE2', 'CITY', 'STATE', 'POSTALCODE',
       'COUNTRY', 'TERRITORY', 'CONTACTLASTNAME', 'CONTACTFIRSTNAME',
       'DEALSIZE'],
      dtype='object')
Thought: This dataset contains information about customer orders
Final Answer: This dataset is related to customer orders.

> Finished chain.
This dataset is related to customer orders.

In [23]:
output = agent.run("if is possible to make a breif report for orders inside countries and city and state inside this dataset , make it for me")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to group the data by country, city, and state
Action: python_repl_ast
Action Input: df.groupby(['COUNTRY', 'CITY', 'STATE']).size()
Observation: COUNTRY    CITY          STATE
Australia  Chatswood     NSW         46
           Melbourne     Victoria    55
           North Sydney  NSW         46
dtype: int64
Thought: I now know the final answer
Final Answer: There are 46 orders from Chatswood, NSW, Australia, 55 orders from Melbourne, Victoria, Australia, and 46 orders from North Sydney, NSW, Australia.

> Finished chain.
There are 46 orders from Chatswood, NSW, Australia, 55 orders from Melbourne, Victoria, Australia, and 46 orders from North Sydney, NSW, Australia.

In [22]:
output = agent.run("if its is possible to make a breif report for orders sales inside countries and city and state inside this dataset , make it please for me")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to group the data by country, city, and state
Action: python_repl_ast
Action Input: df.groupby(['COUNTRY', 'CITY', 'STATE'])['SALES'].sum()
Observation: COUNTRY    CITY          STATE
Australia  Chatswood     NSW         151570.98
           Melbourne     Victoria    200995.41
           North Sydney  NSW         153996.13
Name: SALES, dtype: float64
Thought: I now know the total sales for each country, city, and state
Final Answer: The total sales for each country, city, and state are Australia: Chatswood (NSW): 151570.98, Melbourne (Victoria): 200995.41, and North Sydney (NSW): 153996.13.

> Finished chain.
The total sales for each country, city, and state are Australia: Chatswood (NSW): 151570.98, Melbourne (Victoria): 200995.41, and North Sydney (NSW): 153996.13.

In [ ]:
output = agent.run("if its is possible to make a breif report for orders sales inside countries and city and state inside this dataset , make it please for me")
print(output)

In [27]:
output = agent.run(" make a brief report for orders sales by month by month inside countries and city and state inside this dataset")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to group the data by month, country, city, and state
Action: python_repl_ast
Action Input: df.groupby(['MONTH_ID', 'COUNTRY', 'CITY', 'STATE'])['SALES'].sum()
Observation: MONTH_ID  COUNTRY    CITY          STATE
1         Australia  North Sydney  NSW         29852.17
2         Australia  Melbourne     Victoria    49637.57
3         Australia  North Sydney  NSW         35160.25
4         Australia  Melbourne     Victoria    50397.66
5         Australia  Chatswood     NSW         43971.43
                     Melbourne     Victoria     9738.18
7         Australia  Chatswood     NSW         69694.40
9         Australia  North Sydney  NSW         47191.76
11        Australia  Melbourne     Victoria    91222.00
                     North Sydney  NSW         41791.95
12        Australia  Chatswood     NSW         37905.15
Name: SALES, dtype: float64
Thought: I now know the final answer
Final Answer: Orders sales by month, country, city, and state in this dataset are as follows: Australia: North Sydney (NSW): 29852.17 (Jan), 35160.25 (Mar), 47191.76 (Sep), 41791.95 (Nov); Melbourne (Victoria): 49637.57 (Feb), 50397.66 (Apr), 9738.18 (May), 91222.00 (Nov); Chatswood (NSW): 43971.43 (May), 69694.40 (Jul), 37905.15 (Dec).

> Finished chain.
Orders sales by month, country, city, and state in this dataset are as follows: Australia: North Sydney (NSW): 29852.17 (Jan), 35160.25 (Mar), 47191.76 (Sep), 41791.95 (Nov); Melbourne (Victoria): 49637.57 (Feb), 50397.66 (Apr), 9738.18 (May), 91222.00 (Nov); Chatswood (NSW): 43971.43 (May), 69694.40 (Jul), 37905.15 (Dec).

In [33]:
output = agent.run(" make a brief report for best months to sell promocodes to increase the sales , type only breif text for  the monthes name with low orders")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find the months with the lowest orders
Action: python_repl_ast
Action Input: df.groupby('MONTH_ID')['ORDERNUMBER'].count().sort_values()
Observation: MONTH_ID
1      9
3     10
9     14
12    14
2     15
4     15
5     15
7     19
11    36
Name: ORDERNUMBER, dtype: int64
Thought: I need to find the months with the lowest orders
Action: python_repl_ast
Action Input: df.groupby('MONTH_ID')['ORDERNUMBER'].count().sort_values().head(2)
Observation: MONTH_ID
1     9
3    10
Name: ORDERNUMBER, dtype: int64
Thought: I now know the final answer
Final Answer: The best months to sell promocodes to increase sales are January and March.

> Finished chain.
The best months to sell promocodes to increase sales are January and March.

In [37]:
output = agent.run(" make a brief report for best city to sell promocodes to increase the sales , type only breif text for  the city name with low orders")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to find the city with the lowest orders
Action: python_repl_ast
Action Input: df.groupby('CITY').sum()['SALES'].sort_values()
Observation: CITY
Chatswood       151570.98
North Sydney    153996.13
Melbourne       200995.41
Name: SALES, dtype: float64
Thought:

<string>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

 I now know the city with the lowest orders
Final Answer: Chatswood is the best city to sell promocodes to increase sales.

> Finished chain.
Chatswood is the best city to sell promocodes to increase sales.

In [44]:
output = agent.run("how much discount percentage (should be less than 10%) for increase the sales and in which city")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to calculate the discount percentage and find the city
Action: python_repl_ast
Action Input: df['SALES']/df['MSRP']
Observation: 0      41.743789
1      15.273684
2      22.922383
3      18.433178
4      11.292336
         ...
142    40.850000
143    21.840000
144    62.524000
145    57.802027
146    44.685714
Length: 147, dtype: float64
Thought: I need to find the city
Action: python_repl_ast
Action Input: df['CITY'].value_counts()
Observation: Melbourne       55
Chatswood       46
North Sydney    46
Name: CITY, dtype: int64
Thought: I now know the final answer
Final Answer: The discount percentage should be less than 10% and it should be applied in Melbourne, Chatswood, and North Sydney.

> Finished chain.
The discount percentage should be less than 10% and it should be applied in Melbourne, Chatswood, and North Sydney.

In [46]:
output = agent.run("make breif report mean sales for each city per day ")
print(output)

> Entering new AgentExecutor chain...
Thought: I need to group the data by city and order date
Action: python_repl_ast
Action Input: df.groupby(['CITY', 'ORDERDATE']).mean()['SALES']
Observation: CITY          ORDERDATE
Chatswood     12/17/2004 0:00    2707.510714
              5/29/2005 0:00     3382.417692
              7/16/2003 0:00     3549.657500
              7/19/2004 0:00     3754.285455
Melbourne     11/24/2004 0:00    3979.917273
              11/29/2004 0:00    3953.575833
              2/20/2004 0:00     3309.171333
              4/29/2003 0:00     3359.844000
              5/21/2003 0:00     4869.090000
North Sydney  1/20/2005 0:00     3316.907778
              11/4/2003 0:00     3214.765385
              3/9/2005 0:00      3516.025000
              9/11/2003 0:00     3370.840000
Name: SALES, dtype: float64
Thought:

<string>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

 I now know the mean sales for each city per day
Final Answer: The mean sales for each city per day are Chatswood 2707.51, Melbourne 3979.92, and North Sydney 3316.91.

> Finished chain.
The mean sales for each city per day are Chatswood 2707.51, Melbourne 3979.92, and North Sydney 3316.91.

In [26]:
"""Example of using PandasAI with a CSV file."""

from pandasai import SmartDataframe
from pandasai.llm import OpenAI

llm = OpenAI(api_token=open_ai_api)
df = SmartDataframe("dataset/sales_data_sample.csv", config={"llm": llm})
response = df.chat("How much sales for each country ?")
print(response)

     COUNTRY      SALES
0  Australia  506562.52

In [29]:
df.chat("calculate total sales by state for country and calculate number of countries")

     COUNTRY     STATE      SALES
0  Australia       NSW  305567.11
1  Australia  Victoria  200995.41

In [30]:
df.chat("tell me in text form the total sales by state for country and calculate number of countries")

'Unfortunately, I was not able to answer your question, because of the following error:\n\nAll objects passed were None\n'